<ng-template #Russian>
  <div class="container">
    <div class="row justify-content-md-center mt-5">
      <div class="col-md-auto">
        <h1>Администратор</h1>
        <p>Эта страница доступна только администраторам.</p>
        <div>
          Список пользователей:
          <ul>
            <li *ngFor="let user of users">{{user.firstName}} {{user.lastName}}</li>
          </ul>
          <button routerLink="" class="btn btn-primary mr-1">Главная страница</button>
          <button routerLink="" (click)="logout()" class="btn btn-primary ml-1">Выйти</button>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<div class="container" *ngIf="this.languageService.isLangRus; else Russian">>
  <div class="row justify-content-md-center mt-5">
    <div class="col-md-auto">
      <h1>Admin</h1>
      <p>This page is accessible only to administrators.</p>
      <div>
        A list of users:
        <ul>
          <li *ngFor="let user of users">{{user.firstName}} {{user.lastName}}</li>
        </ul>
        <button routerLink="" class="btn btn-primary mr-1">Main page</button>
        <button routerLink="" (click)="logout()" class="btn btn-primary ml-1">Logout</button>
      </div>
    </div>
  </div>
</div>
