<ng-template #Russian>
<div class="container">
  <div class="reviews-users">
    <p class="reviews-users__number">
      4 478 815
    </p>
    <p class="reviews-users__text">
      человек уже тренируются на Викиум
    </p>
  </div>
  <div ngClass="reviews-items visible" *ngFor="let review of reviewsShown">
    <div class="review">
      <img src="{{review.image}}" alt="img" class="review__photo">
      <div class="review__bloquote">
        <p class="review__text">{{review.text}}</p>
        <p class="review__name">{{review.name}}</p>
      </div>
    </div>
  </div>
  <div ngClass="reviews-items invisible" [className]=myClass *ngFor="let review of reviewsHidden">
    <div class="review">
      <img src="{{review.image}}" alt="img" class="review__photo">
      <div class="review__bloquote">
        <p class="review__text">{{review.text}}</p>
        <p class="review__name">{{review.name}}</p>
      </div>
    </div>
  </div>
  <button class="reviews__btn-more" (click)="toggle_class()"
          *ngIf="this.isButtonVisible"> Еще отзывы </button>
  <a href="https://wikium.ru/start" class="blue-button">{{'Присоединиться к Викиум' | uppercase}}</a>
</div>
</ng-template>

<div class="container" *ngIf="this.languageService.isLangRus; else Russian">
  <div class="reviews-users">
    <p class="reviews-users__number">
      4 478 815
    </p>
    <p class="reviews-users__text">
      people are already training at Wikium
    </p>
  </div>
  <div ngClass="reviews-items visible" *ngFor="let review of reviewsShownEng">
    <div class="review">
      <img src="{{review.image}}" alt="img" class="review__photo">
      <div class="review__bloquote">
        <p class="review__text">{{review.text}}</p>
        <p class="review__name">{{review.name}}</p>
      </div>
    </div>
  </div>
  <div ngClass="reviews-items invisible" [className]=myClass *ngFor="let review of reviewsHiddenEng">
    <div class="review">
      <img src="{{review.image}}" alt="img" class="review__photo">
      <div class="review__bloquote">
        <p class="review__text">{{review.text}}</p>
        <p class="review__name">{{review.name}}</p>
      </div>
    </div>
  </div>
  <button class="reviews__btn-more" (click)="toggle_class()"
          *ngIf="this.isButtonVisible"> More reviews </button>
  <a href="https://wikium.ru/start" class="blue-button">{{'Join Wikium' | uppercase}}</a>
</div>
