<ng-template #Russian>
  <div class="container">
    <h3>Вам нужно увеличивать количество синапсов</h3>

    <div class="science-definitions">
      <div class="science-definitions__inner">
        <p class="science-definitions__text"><b>Синапс — это место контакта между двумя нейронами</b><span></span></p>
        <div class="science-definitions__img-wrap">
          <img src="../../../../assets/science/neuro.svg" alt="Синапс">
          <p>Схема нейронных связей</p>
        </div>
      </div>
      <p class="science-definitions__info">Количество нейронов и синапсов, а также их качество определяют
        интеллектуальный потенциал — гибкость ума, память, креативность, талант</p>
      <p class="science-definitions__info"><b>Развитие мозга</b> — это процесс создания, укрепления или восстановления
        утраченных нейронных (синаптических) связей</p>
      <p class="science-definitions__info">Процесс создания новых нейронов в науке называется нейрогенезом</p>
    </div>
    <div class="science-definitions__highlighted">
      <p>Получение новой информации, а также специальные тренировки образуют новые синапсы</p>
    </div>
    <div class="bottom-container">
      <p class="slogan">Вам решать, как активно они будут создаваться!</p>
      <button class="blue-button">{{'Начать тренироваться' | uppercase}}</button>
    </div>
  </div>
</ng-template>

<div class="container" *ngIf="this.languageService.isLangRus; else Russian">
  <h3>You need to increase the number of synapses</h3>

  <div class="science-definitions">
    <div class="science-definitions__inner">
      <p class="science-definitions__text"><b>A synapse - is a place of contact between two neurons</b><span></span></p>
      <div class="science-definitions__img-wrap">
        <img src="../../../../assets/science/neuro.svg" alt="Синапс">
        <p>Circuitry of neural links</p>
      </div>
    </div>
    <p class="science-definitions__info">The number of neurons and synapses, as well as their quality determine the
      intellectual potential - the flexibility of the mind, memory, creativity, talent</p>
    <p class="science-definitions__info"><b>Brain improving</b> — this is the process of creating, strengthening or
      restoring lost neural (synaptic) connections</p>
    <p class="science-definitions__info">The process of creating new neurons in science is called neurogenesis.</p>
  </div>
  <div class="science-definitions__highlighted">
    <p>Obtaining new information, as well as special training form new synapses</p>
  </div>
  <div class="bottom-container">
    <p class="slogan">You decide how actively they will be created!</p>
    <button class="blue-button">{{'Start training' | uppercase}}</button>
  </div>
</div>
