<div class="audience">
  <div class="audience-container">
    <div class="container">
      <h3>Кому полезны наши тренажеры?</h3>
      <div class="item-container">
        <div class="audience-item">
          <img src="../../../../assets/audience/young.svg" alt="Младший возраст">
          <h4>Младший возраст</h4>
          <ul>
            <li>Улучшить обучаемость в учебных заведениях</li>
            <li>Профилактика синдрома дефицита внимания</li>
          </ul>
        </div>
        <div class="audience-item">
          <img src="../../../../assets/audience/middle.svg" alt="Средний возраст">
          <h4>Средний возраст</h4>
          <ul>
            <li>Повысить личную продуктивность, эффективность</li>
            <li>Делать меньше ошибок и недочетов на работе</li>
            <li>Держать мозг в тонусе в течение дня</li>
          </ul>
        </div>
        <div class="audience-item">
          <img src="../../../../assets/audience/old.svg" alt="Пожилой возраст">
          <h4>Пожилой возраст</h4>
          <ul>
            <li>Дольше сохранять остроту и ясность ума</li>
            <li>Профилактика возрастных заболеваний, вызванных снижением интеллектуальной нагрузки</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

