<ng-template #Russian>
  <div class="header">
    <div class="header-top">
      <div class="header-top__logo">
        <a href="https://wikium.ru/">
          <img src="../../../../../assets/logos/header-logo.svg" alt="">
        </a>
      </div>
      <div class="form-group">
        <select class="form-control language" (change)="changeLang()">
          <option>Русский</option>
          <option>English</option>
        </select>
      </div>
      <button *ngIf="isAdmin" type="button" class="btn btn-light" (click)="admin()">Администратор</button>
      <button *ngIf="currentUser" type="button" class="btn btn-light" (click)="logout()">Выйти</button>
    </div>
    <header>
      <h1 class="header-title">Тренируйте мозг с удовольствием</h1>
      <p class="header-subtitle">Развивайте память, внимание и мышление с помощью онлайн-тренажеров</p>
    </header>
    <div class="header-btns">
      <a href="https://wikium.ru/start" class="header-btns__start">{{'Начать развиваться' | uppercase}}</a>
      <a id="header-btns__login" *ngIf="!currentUser" (click)="login()">У меня уже есть аккаунт</a>
      <app-arrow-down (click)="scrollToBenefits()"></app-arrow-down>
    </div>
  </div>
</ng-template>

<div class="header" *ngIf="this.languageService.isLangRus; else Russian">
  <div class="header-top">
    <div class="header-top__logo">
      <a href="https://wikium.ru/">
        <img src="../../../../../assets/logos/header-logo.svg" alt="">
      </a>
    </div>
    <div class="form-group">
      <select class="form-control language" (change)="changeLang()">
        <option>English</option>
        <option>Русский</option>
      </select>
    </div>
    <button *ngIf="isAdmin" type="button" class="btn btn-light" (click)="admin()">Admin</button>
    <button *ngIf="currentUser" type="button" class="btn btn-light" (click)="logout()">Logout</button>
  </div>
  <header>
    <h1 class="header-title">Train your brain with pleasure</h1>
    <p class="header-subtitle">Develop memory, attention and thinking with online simulators</p>
  </header>
  <div class="header-btns">
    <button class="header-btns__start">{{'Start growth'| uppercase}}</button>
    <a id="header-btns__loginEng" *ngIf="!currentUser" (click)="login()">I already have an account</a>

    <app-arrow-down (click)="scrollToBenefits()"></app-arrow-down>
  </div>
</div>

