<div class="header">
  <div class="header-top">
    <div class="header-top__logo"><img src="../../../../../assets/logos/header-logo.svg" alt=""></div>
    <div class="header-top__lang">Change language</div>
  </div>
  <header>
    <h1 class="header-title">Тренируйте мозг с удовольствием</h1>
    <p class="header-subtitle">Развивайте память, внимание и мышление с помощью онлайн-тренажеров</p>
  </header>
  <div class="header-btns">
    <button class="header-btns__start">Начать развиваться</button>
    <a router.navigate="/login">У меня уже есть аккаунт</a>
    <app-arrow-down (click)="scrollToBenefits()"></app-arrow-down>
  </div>
</div>
