<ng-template #Russian>
  <div class="benefits">
    <h3 class="benefits-item__title">Эффект от занятий</h3>
    <p class="benefits-item__subtitle">В основе тренажеров Викиум лежат методики российских и зарубежных
      нейропсихологов,
      доказавшие свою эффективность в ходе множества экспериментов и научных работ</p>
    <div class="benefits-item__info" *ngFor="let item of benefitsItem">
      <p class="benefits-item__text" [ngStyle]="{'color':getColor(item.value), 'font-size':'55px'}">{{item.value}}</p>
      <p class="benefits-item__text" [ngStyle]="{'font-size':'14px', 'vertical-align': 'top'}">{{item.text}}</p>
    </div>
    <p class="investigation">На основе исследования 16 314 412 тренировок пользователей Викиум</p>

    <a href="https://wikium.ru/start" class="blue-button">{{'Начать развиваться' | uppercase}}</a>
  </div>
</ng-template>

<div class="benefits" *ngIf="this.languageService.isLangRus; else Russian">
  <h3 class="benefits-item__title">Effect of classes</h3>
  <p class="benefits-item__subtitle">The Wikium simulators are based on the methods of Russian and foreign
    neuropsychologists, who have proven their effectiveness in many experiments and scientific papers.</p>
  <div class="benefits-item__info" *ngFor="let item of benefitsItem">
    <p class="benefits-item__text" [ngStyle]="{'color':getColor(item.value), 'font-size':'55px'}">{{item.value}}</p>
    <p class="benefits-item__text" [ngStyle]="{'font-size':'14px', 'vertical-align': 'top'}">{{item.textEng}}</p>
  </div>

  <p class="investigation">Based on a study of 16,314,412 training sessions for Wikium users</p>

  <a href="https://wikium.ru/start" class="blue-button">{{'Start growth' | uppercase}}</a>
</div>
