<div class="benefits">
  <h3 class="benefits-item__title">Эффект от занятий</h3>
  <p class="benefits-item__subtitle">В основе тренажеров Викиум лежат методики российских и зарубежных нейропсихологов,
    доказавшие свою эффективность в ходе множества экспериментов и научных работ</p>


  <!--<mat-grid-tile class="benefits_item"-->
  <!--*ngFor="let tile of tiles"-->
  <!--[colspan]="tile.cols"-->
  <!--[rowspan]="tile.rows"-->
  <!--[style.color]="tile.color">-->
  <!--{{tile.text}}-->
  <!--</mat-grid-tile>-->
  <div class="benefits-item__info">
    <p class="benefits-item__text-1">+17%</p>
    <p class="benefits-item__text-2">х1,6</p>
    <p class="benefits-item__text-3">x2,1</p>
    <p class="benefits-item__text-4">+19%</p>
  </div>
  <div class="benefits-item__text">
    <p>к скорости реакции за неделю</p>
    <p>к фокусировке на задачах за 1 месяц</p>
    <p>к вниманию к мелочам и деталям за 2 месяца</p>
    <p>к памяти за 2–3 недели</p>
  </div>

  <p class="investigation">На основе исследования 16 314 412 тренировок пользователей Викиум</p>

  <button class="blue-button">Начать развиваться</button>
</div>
