<div class="container">
  <h3 class="title">Как тренироваться</h3>
  <div class="about-howto">
    <div class="about-howto_items">
      <article class="about-howto_item">
        <img src="../../../../assets/about/Pic1.PNG" alt="pic1">
        <img class="arrow" src="https://wikium.ru/build/61038741f0a2bf0ac6ddd4d914d0fc62.svg" alt="arrow">
        <h4 class="about-howto_item-tittle">Оцените ваши способности</h4>
        <p class="about-howto_item-text">Пройдите вводное тестирование, чтобы получить оценку вашего текущего уровня
          памяти, внимания и мышления. Для вас будет сформирована персональная программа развития
        </p>
      </article>
      <article class="about-howto_item">
        <img src="../../../../assets/about/Pic2.PNG" alt="pic2">
        <img class="arrow" src="https://wikium.ru/build/61038741f0a2bf0ac6ddd4d914d0fc62.svg" alt="arrow">
        <h4 class="about-howto_item-tittle">Выполняйте ежедневную тренировку</h4>
        <p class="about-howto_item-text">Ежедневная программа развития включает разминку и тренировку. Это займет у вас
          15 минут в день
        </p>
      </article>
      <article class="about-howto_item">
        <img src="../../../../assets/about/Pic3.PNG" alt="pic3">
        <h4 class="about-howto_item-tittle">Следите за вашим развитием</h4>
        <p class="about-howto_item-text">Следите за статистикой ваших тренировок, улучшайте показатели, сравнивайте свои
          достижения с результатами других пользователей
        </p>
      </article>

    </div>
    <button class="blue_button">Начать тренировку</button>
  </div>
</div>
